TreeAverage/TreeAverage.pro.user
think-cell/main.cpp
think-cell/think-cell.pro.user
build-TreeAverage-Desktop-Debug/
build-think-cell-Desktop-Debug/
build-two_way_serial1-Desktop-Debug/


saved-AI.recomendations/
SerialCommsCommander/__pycache__/
SerialCommsCommander/main.pyproject.user
webcam_popup/main.pyproject.user
webcam_popup/webpopup.pyproject.user
SerialCommsCommander/serialpy.pyproject.user
build-tabviews-Desktop-Debug/
eez_parser/PageTree*
eez_parser/main.pyproject*
eez_parser/eez.extract*
eez_parser/excel/*
